@import "../static.styl"

media1 = mediaWidth3
media2 = mediaWidth1

#view-header
  position: relative
  background-color: colorPrimary
  box-shadow: 0px 2px 4px 2px colorBlack
  z-index: 1

#view-header-container
  position: relative
  width: containerWidthPct
  max-width: containerWidthPx1
  height: headerHeight
  margin: 0 auto

#header-logo
  display: inline-block
  position: absolute
  top: 50%
  transform: translate(0, -50%)

  @media screen and (max-width: media1)
    position: relative
    top: spacing2x
    left: 50%
    transform: translate(-50%)

  & img
    width: 36px
    height: 36px
    margin-right: spacing2x

    @media screen and (max-width: media1)
      width: 22px
      height: 22px
      margin-right: spacing1x

  & h1
    display: inline-block
    position: relative
    top: -11px
    margin: 0
    color: colorWhite
    text-decoration: none

    @media screen and (max-width: media1)
      position: relative
      top: -6px
      font-size: 14px
