@import "../static.styl"

media1 = mediaWidth3
media2 = mediaWidth1

#view-header
  position: relative
  background-color: colorPrimary
  box-shadow: 0px 2px 4px 2px colorBlack
  z-index: 1

#view-header-container
  position: relative
  width: containerWidthPct
  max-width: containerWidthPx1
  height: 88px
  margin: 0 auto

#header-logo
  display: inline-block
  position: absolute
  top: 50%
  transform: translate(0, -50%)

  @media screen and (max-width: media1)
    position: relative
    top: spacing2x
    left: 50%
    transform: translate(-50%)

  & img
    width: 36px
    height: 36px
    margin-right: spacing2x

    @media screen and (max-width: media1)
      width: 22px
      height: 22px
      margin-right: spacing1x

  & h1
    display: inline-block
    position: relative
    top: -11px
    margin: 0
    color: colorWhite
    text-decoration: none

    @media screen and (max-width: media1)
      position: relative
      top: -6px
      font-size: 14px


#view-header-container .header-menu-wide
  position: absolute
  top: 50%
  right: 0
  transform: translate(0, -50%)

  @media screen and (max-width: media1)
    top: initial
    bottom: spacing2x
    left: 50%
    right: initial
    transform: translate(-50%, 0)

  @media screen and (max-width: media2)
    display: none

  & li
    display: inline
    margin-left: spacing2x

  & a
    color: colorWhite
    text-decoration: none

    &.active
    &:hover
      color: colorOrange

    @media screen and (max-width: media1)
      font-size: 14px

#view-header-container .header-menu-slim
  display: none

  @media screen and (max-width: media2)
    display: inline-block
    position: absolute
    bottom: spacing1x
    left: 50%
    transform: translateX(-50%)

.header-menu-btn
  width: 120px
  height: 32px
  padding: 0
  border: 1px solid colorPrimary
  outline: none
  box-sizing: border-box
  background-color: transparent
  color: colorWhite
  font-family: fontFamilyRoboto
  font-size: fontSize0
  letter-spacing: letterSpacingRoboto
  cursor: pointer

  &.show
  &:hover
    border: 1px solid colorWhite

  & .icon-arrow
    display: inline-block
    width: 18px
    height: 10px
    margin-left: spacing1x
    background-image: url('../../assets/arrow_down_white.svg')
    background-size: cover

    &.show
      background-image: url('../../assets/arrow_up_white.svg')
      background-size: cover

.header-menu-list
  position: absolute
  top: 100%
  left: 50%
  transform: translate(-50%, 0)
  box-shadow: 0px 2px 4px #000000
  z-index: 10
  opacity: 0
  visibility: hidden
  transition: all linear 0.2s

  &.show
    transform: translate(-50%, 8px)
    visibility: visible
    opacity: 1

  & ul
    margin: 0px
    padding: 0px
    background-color: colorPrimary

  & a
    color: colorWhite
    text-decoration: none

    &.active
    &:hover
      color: colorOrange

  & li
    padding: spacing2x spacing3x
    list-style: none
    font-size: fontSize1
    cursor: pointer
