body {
	background-color: #D3D3D3;
	margin: 0;
	font-family: 'Helvetica';
	letter-spacing: 0.5px;
}

.background {
	position: fixed;
	bottom: 10px;
	width: 100%;
	height: 100%;
	background-image: url("../assets/starbucks.jpg");
	opacity: .3;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
}

h1 {
	margin: 48px 0;
	text-align: center;
}

#selection-menu {
	display: block;
	width: 480px;
	margin: 0 auto 48px;
}

select {
	font-size: 16px;
}

.topping-selection {
	margin-bottom: 6px;
}

.topping-selection input {
	vertical-align: top;
}

button {
	display: block;
	width: 120px;
	padding: 12px 0;
	margin: 0 auto;
	border: none;
	border-radius: 4px;
	outline: none;
	background-color: #FF6A5C;
	font-family: 'Helvetica';
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}