@import "../static.styl"

#view-error
  position: relative
  padding: spacing12x 0

  & h1
    line-height: lineHeight2
    font-family: fontFamilyRockwell
    font-size: fontSize2
    color: colorPrimary
    text-align: center

  & h6
    position: absolute
    left: 0
    bottom: 0
    font-family: fontFamilyRoboto

  & img
    position: relative
    left: 50%
    transform: translateX(-50%)
    width: propUnit3x
    height: propUnit3x
    margin: spacing6x 0

  & a
    display: block

  & p
    line-height: lineHeight3
    font-family: fontFamilyRoboto
    text-align: center
