**/node_modules
**/coverage
**/build
**/dist
**/.cache
**/tmp
**/*.tmp
**/*/package-lock.json
**/*.idea
**/*.iml
**/*.project
**/*.DS_Store

constellations/orion/**/*.log
constellations/clients/golangTestRenderer/index.html

**/*.pem
id_rsa_*