@import "../static.styl"

#view-students-projects
  width: containerWidthPct
  max-width: containerWidthPx2
  height: 320px
  margin: spacing12x auto spacing16x

  & h1, h3
    line-height: lineHeight2
    font-family: fontFamilyRockwell
    font-size: fontSize2
    color: colorPrimary
    text-align: center
