// Colors

$colorTurquoise: #056571
$colorTurquoiseLight: #08A8BD
$colorTurquoiseDark: #034D57
$colorTurquoiseDarkAlpha: #034D5733
$colorOrange: #FF6A5C

$colorWhite: #ffffff
$colorWhiteLighter: #fafafa
$colorWhiteLight: #f2f2f2
$colorGrayLighter: #cacaca
$colorGrayLight: #b8b8b8
$colorGrayMed: #787878
$colorGrayDark: #606060
$colorBlackLight: #444444
$colorBlack: #222222
$colorBlackPure: #000000

// Extraneous highlights
$colorBlue: #1749A3
$colorPurple: #6C48B0
$colorYellow: #FFF852
$colorYellowLight: #FFFA6B
$colorRed: #D91211

// Spacings

$spacing1x: 8px
$spacing1_5x: ($spacing1x * 1.5)
$spacing2x: ($spacing1x * 2)
$spacing3x: ($spacing1x * 3)
$spacing4x: ($spacing1x * 4)
$spacing5x: ($spacing1x * 5)
$spacing6x: ($spacing1x * 6)
$spacing8x: ($spacing1x * 8)
$spacing10x: ($spacing1x * 10)
$spacing11x: ($spacing1x * 11)
$spacing12x: ($spacing1x * 12)
$spacing16x: ($spacing1x * 16)
$spacing20x: ($spacing1x * 20)
$spacing24x: ($spacing1x * 24)
$spacing28x: ($spacing1x * 28)
$spacing32x: ($spacing1x * 32)
$spacing36x: ($spacing1x * 36)
$spacing40x: ($spacing1x * 40)
$spacing42x: ($spacing1x * 42)
$spacing48x: ($spacing1x * 48)
$spacing56x: ($spacing1x * 56)
$spacing64x: ($spacing1x * 64)
$spacing72x: ($spacing1x * 72)
$spacing80x: ($spacing1x * 80)
$spacing96x: ($spacing1x * 96)
$spacing100x: ($spacing1x * 100)
$spacing120x: ($spacing1x * 120)
$spacing128x: ($spacing1x * 128)
$spacing160x: ($spacing1x * 160)

// Fonts - Font Families
@font-face
  font-family: 'rockwell'
  src: url('../../assets/fonts/rockwell/rockwell_regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
$fontFamilyRockwell: "rockwell", sans-serif
$fontFamilyRoboto: "Roboto", sans-serif

// Fonts - For reading texts
$fontSize0: 14px
$fontSize1: 16px
$fontSize2: 18px
$fontSize3: 20px
$fontSize4: 22px
$fontSize5: 24px

$letterSpacingRockwell: 1.5px
$letterSpacingRoboto: 1px

$lineHeight0: 20px
$lineHeight1: 22px
$lineHeight2: 26px
$lineHeight3: 28px
$lineHeight4: 32px
$lineHeight5: 36px

// Misc.
$containerWidthPxPhone: $spacing64x
$containerWidthPxTablet: $spacing80x
$containerWidthPxLaptop: $spacing96x
$containerWidthPxMonitor: $spacing120x
$containerWidthPxFull: $spacing160x
$containerWidthPct: 80%

$headerHeight: $spacing11x