// Colors

$colorTurquoise: #056571
$colorTurquoiseLight: #08A8BD
$colorTurquoiseDark: #034D57
$colorBlue: #1749A3
$colorOrange: #FF6A5C
$colorPurple: #6C48B0
$colorYellow: #FFF852
$colorYellowLight: #FFFA6B
$colorRed: #D91211

$colorWhite: #ffffff
$colorWhiteLight: #f2f2f2
$colorBlackDark: #222
$colorBlack: #000000
$colorGrayLight: #b8b8b8
$colorGrayMed: #787878

$colorPrimary: $colorTurquoise
$colorAlert: $colorYellow
$colorHighlight: $colorBlue
$colorBackground: $colorWhite

// Spacings

$spacing1x: 8px
$spacing2x: ($spacing1x * 2)
$spacing3x: ($spacing1x * 3)
$spacing4x: ($spacing1x * 4)
$spacing5x: ($spacing1x * 5)
$spacing6x: ($spacing1x * 6)
$spacing8x: ($spacing1x * 8)
$spacing10x: ($spacing1x * 10)
$spacing11x: ($spacing1x * 11)
$spacing12x: ($spacing1x * 12)
$spacing16x: ($spacing1x * 16)
$spacing24x: ($spacing1x * 24)
$spacing32x: ($spacing1x * 32)
$spacing40x: ($spacing1x * 40)
$spacing64x: ($spacing1x * 64)
$spacing72x: ($spacing1x * 72)
$spacing80x: ($spacing1x * 80)
$spacing96x: ($spacing1x * 96)
$spacing100x: ($spacing1x * 100)
$spacing120x: ($spacing1x * 120)
$spacing128x: ($spacing1x * 128)
$spacing160x: ($spacing1x * 160)

// Fonts - Font Families
@font-face
  font-family: 'rockwell'
  src: url('../../assets/fonts/rockwell/rockwell_regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
$fontFamilyRockwell: "rockwell", sans-serif
$fontFamilyRoboto: "Roboto", sans-serif

// Fonts - For reading texts
$fontSize0: 16px
$fontSize1: 18px
$fontSize2: 20px
$fontSize3: 22px
$fontSize4: 24px

$letterSpacingRockwell: 2px
$letterSpacingRoboto: 1px

$lineHeight0: 24px
$lineHeight1: 26px
$lineHeight2: 28px
$lineHeight3: 30px
$lineHeight4: 32px

// Misc.
$containerWidthPx1: $spacing160x
$containerWidthPx2: $spacing64x
$containerWidthPx3: $spacing80x
$containerWidthPct: 80%

$mediaWidth1: $spacing80x
$mediaWidth2: $spacing100x
$mediaWidth3: $spacing120x

$headerHeight: $spacing11x