@import "../static.styl"

#view-announce
  width: 100%
  height: 400px
  padding: 0 spacing2x
  box-sizing: border-box
  color: colorGrayDark
  font-family: fontFamilyRoboto /*not working*/

  & h1
    margin: spacing4x 0
    line-height: lineHeight3
    font-size: fontSize3
  & ul
    padding: 0

  & .announce-lists
    display: inline-block
    list-style: none
    padding-left: 0
    height: lineHeight6
    border-bottom: 1px solid colorGrayLight
    line-height: lineHeight6

    & li
        display: inline-block
    & div
        display: inline-block
    & p
        display: inline-block

#view-announce
      & .li-small
        width: spacing8x
        color: colorTurquoise

      & .li-med
          width: spacing16x

      & .li-large
          width: spacing64x

  .announcement-button
    display: inline-block
    background-color: colorTurquoise
    width: spacing32x
    height: lineHeight6
    line-height: lineHeight6
    border-radius: spacing1x
    text-align: center
    color: colorWhite
