@import "../static.styl"
    
#announce-datetime-container
  margin-bottom: spacing4x

  & h4
    margin-bottom: spacing2x

    & b
      color: colorTurquoise

  & button.btn-now
    margin-bottom: spacing4x
    padding: spacing1x spacing2x
    background-color: colorTurquoise
    color: colorWhite

#announce-date-picker
  display: inline-block
  margin-right: spacing4x

#announce-time-picker
  display: inline-block
  vertical-align: top
  width: 360px