body{
  margin: 0 0;
  height: 648px;
}

#aboutHeader{
  width: 100%;
  height: 95px;
  background-color: #1215e0;
}

#aboutMainbody{
  width: 900px;
  height: calc(100%);
  margin: 0 auto;
}

#aboutFooter{
  width: 100%;
  height: 97px;
  background-color: #4cbb17;
}

#group-photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 400px;
}

#whoWeAre{
  margin: 0 0;
  text-align: center;
  font-size: 40px;
  font-family: 'Bowlby One SC', cursive;
}

#go-home{
  margin: 0 0;
  color: #d4ff00;
  position: relative;
  top: 30px;
  left: 30px;
}

#groupDescription{
  font-family: 'Bowlby One SC', cursive;
}
