body{
  margin: 0 0;
  height: 648px;
}

.header{
  width: 100%;
  height: 95px;
  background-color: #1215e0;
}

.body{
  width: 900px;
  height: calc(100%);
  margin: 0 auto;
}

.footer{
  width: 100%;
  height: 97px;
  background-color: #4cbb17;
}

/*mainbody*/

#groupName{
  margin: 0 0;
  text-align: center;
  font-size: 40px;
  font-family: 'Bowlby One SC', cursive;
}

#frosh-logo{
  display: block;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

#stikeMan{
  position: relative;
  top: 5px;
}


/*footer*/

#insta-link{
  height: 30px;
  width: 30px;
  position: relative;
  left: 30px;
  top: 33px;
}

#youtube-link{
  height: 40px;
  width: 40px;
  position: relative;
  left: 80px;
  top: 35px;
}

/*header*/

#about{
  display: inline-block;
  margin: 0 0;
  color: #d4ff00;
  position: relative;
  top: 30px;
  left: 30px;
}
