@import "../utils/_constants.sass"

$media1: $mediaWidth3
$media2: $mediaWidth1

#view-announce
    width: $containerWidthPct
    max-width: $containerWidthPx3
    margin: 0 auto
    padding: $spacing12x 0 $spacing24x
    
    h1
        width: 100%
        margin-bottom: $spacing12x
        text-align: center
        color: $colorTurquoise

    .announcement-card
        margin-bottom: $spacing12x

        &:last-child
            margin-bottom: 0
            
            .bar
                border-bottom: none

        .bar
            width: 60%
            margin: 0 auto
            padding-bottom: $spacing8x
            border-bottom: 1px solid $colorGrayLight
        
    h2
        margin: 0px auto $spacing4x
        line-height: $lineHeight1
        font-size: $fontSize1
        color: $colorTurquoiseDark        

        @media screen and (max-width: $media1)
            text-align: center

    li
        margin-bottom: $spacing6x

        &:last-child
            margin-bottom: 0px

    p
        margin: 0 auto $spacing2x

        @media screen and (max-width: $media1)
            text-align: center

        &.posted-by
            color: $colorGrayMed

    .announcement-card.pinned
        margin-bottom: $spacing12x
        padding: $spacing4x
        border: 2px solid $colorTurquoise
        border-radius: 8px

        h2
            margin-bottom: $spacing2x
            color: $colorBlack

        .pinned-header
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            margin-bottom: $spacing4x

            @media screen and (max-width: $media1)
                justify-content: center

                img
                    margin-right: $spacing2x

            h2
                margin: 0
                color: $colorTurquoise