@import "../utils/_constants.sass"

#view-announce
  h1
    width: 100%
    color: $colorTurquoise
    text-align: center
    margin: 90px 0px 50px
  h2
    width: $mediaWidth1
    margin: 0 auto
    border-bottom: 1px solid
    padding-bottom: 20px
    font-weight: bold
    color: $colorTurquoiseDark
  p
    width: $mediaWidth1
    margin: 20px auto 50px

