version: '3'
services:
  db-mysql:
    image: mysql
    container_name: db-mysql
    ports:
    - "3306:3306" # host port 3306 links to container port 3306
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: mathnavdb

  orion:
    build: 
      context: ./orion
      args:
        app_env: "develop"
    container_name: orion
    ports:
      - "8001:8001" # host port 8001 links to container port 8080
    depends_on:
      - "db-mysql"
    links:
      - "db-mysql"
    environment:
      WAIT_HOSTS: db-mysql:3306
      DB_DEFAULT: mathnavdb

  aquila:
    build: 
      context: ./aquila
      args:
        app_env: "develop"
    container_name: aquila
    ports:
      - "8002:8080" # host port 8002 links to container port 8080
    depends_on:
      - "db-mysql"
      - "orion"
    links:
      - "db-mysql"
    environment:
      WAIT_HOSTS: db-mysql:3306
      DB_DEFAULT: mathnavdb
  
  # gemini-user:
  #   build: 
  #     context: ./gemini-user
  #     args:
  #       app_env: "develop"
  #   container_name: gemini-user
  #   ports: 
  #     - 8000:9000 # host port 8000 links to container port 9000
  #   depends_on:
  #     - "orion"
  #   links:
  #     - "orion"
  #   stdin_open: true
  