version: '3'
services:
  orion:
    build: 
      context: ./orion
      args:
        app_env: "prod"
    container_name: orion
    ports:
      - "6001:8080" # host port 6001 links to container port 8080
    depends_on:
      - "db-mysql"
    links:
      - "db-mysql"
    environment:
      WAIT_HOSTS: db-mysql:3306
      DB_DEFAULT: mathnavdb
  
  # gemini-user:
  #   build: 
  #     context: ./gemini/user
  #     args:
  #       app_env: "prod"
  #   container_name: gemini-user
  #   ports: 
  #     - 8080:9000 # host port 8080 links to container port 9000
  #   depends_on:
  #     - "orion"
  #   links:
  #     - "orion"
  