@import "../_.constants.sass"

.sectionDetails
    margin-bottom: $spacing10x

    .section-header
        display: inline-block
        width: 80%
        margin: $spacing3x 0
        color: $colorTurquoise

    & li
        padding: $spacing3x 0
        width: 100% 
        border-bottom: 1px solid $colorGrayLight

    .container-class
        display: flex
        flex-direction: row
        align-items: center

        .view-details
            background-color: $colorWhite
            color: $colorTurquoise
            font-size: $fontSize1

            &:hover
                cursor: pointer
                filter: brightness(1.1)

    .class-section
        display: inline-block
        width: 100%

        & p 
            text-align: center
            font-size: $fontSize1

        .list-header
            border-bottom: 1px solid $colorGrayDark

        & ul
            list-style-type: none
            padding: 0
            margin: 0