@import "../_.constants.sass"

#view-home
    width: 90%
    margin: 0 auto
    font-family: $fontFamilyRoboto

    & h1
        margin-top: $spacing10x
        margin-bottom: $spacing6x
        color: $colorBlack