@import "../_.constants.sass"

#view-home
    width: 70%
    margin-left: auto
    margin-right: auto
    font-family: $fontFamilyRoboto

    & h1
        margin-top: $spacing10x
        color: $colorTurquoise

    .tabs 
        display: flex
        flex-direction: row
        align-items: center
        border-bottom: 1px solid $colorGrayLight

        .active
            border-bottom: 2px solid $colorTurquoise

    .notif-black 
        background-color: $colorBlack
        color: $colorWhite

    .tabs button 
        width: 33.333%
        height: 100%
        padding: $spacing2x
        background-color: $colorWhite
        border-bottom: 2px solid transparent
        font-size: $fontSize1
        color: $colorBlack
        cursor: pointer
        transition: 0.3s

    .tabs button:hover
        background-color: $colorGrayLight
        cursor: pointer

    .showSection
        display: inline-block
        width: 100%
        margin: $spacing4x auto
        padding: $spacing1x $spacing2x
        border: none
