@import "../static.styl"

#view-home
  width: 100%
  height: 400px
  padding: spacing4x
  box-sizing: border-box
  background-color: colorWhite 

#view-home .home-left
    display: inline-block
    width: 240px
    margin-right: 60px
    box-sizing: border-box

    & h2
        margin: spacing2x 0
        color: colorTurquoise
    & button
        display: block

        &:hover
            text-decoration: underline


#view-home .home-right
    position: relative
    display: inline-block
    width: calc(100% - 304px)
    height: 100%
    padding: spacing2x
    box-sizing: border-box
    vertical-align: top

    & h4
        margin-bottom: spacing2x

    & ul
        margin: 0
        padding: 0
        list-style: none

    & li.dashboard-row
        height: spacing6x
        line-height: spacing6x
        border-bottom: 1px solid colorGrayDark

    & .btn-go-to-page
        position: absolute
        top: 'calc(100% + %s)' % spacing4x
        left: 0
        display: block
        padding: 0.75em
        border-radius: 10px
        margin: 0
        background-color: colorTurquoise
        color: white

    & .btn-publish-all
        position: absolute
        top: 'calc(100% + %s)' % spacing4x
        right: 0
        display: block
        padding: 0.75em
        border-radius: 10px
        margin: 0
        background-color: colorOrange
        color: white