@import "../_.constants.sass"

.section-details
    margin-bottom: $spacing10x

    & li
        padding: $spacing3x 0
        width: 100% 
        border-bottom: 1px solid $colorGrayLight

    .container-class
        display: flex
        flex-direction: row
        justify-content: space-between 

        .section-header
            display: inline-block
            margin: $spacing3x 0
            color: $colorTurquoise

        .view-details
            background-color: $colorWhite
            color: $colorTurquoise
            font-size: $fontSize1

            &:hover
                cursor: pointer
                filter: brightness(1.1)

    .class-section
        display: inline-block
        width: 100%
        margin: $spacing2x 0

        .container-flex
            display: flex
            flex-direction: row

        & p 
            text-align: center
            font-size: $fontSize1

        .list-header
            padding: 0 0 $spacing1x
            border-bottom: 1px solid $colorGrayDark

        & ul
            list-style-type: none
            padding: 0
            margin: 0

        .list-names
            padding: 4px
        
        #account
            margin: 0 0 $spacing1x
            text-align: left
            font-size: 16px
        .name
            width: 20%
        .email , .from-now
            width: 25%
        .id , .balance
            width: 15%
        .class-long
            width: 30%
        .width50
            width: 50%
        .view
            width: 15%
            text-align: right