// Colors
colorTurquoise = #056571
colorOrange = #FF6A5C

colorWhite = #ffffff
colorWhiteLight = #f2f2f2
colorBlackDark = #222
colorBlack = #000000
colorGrayDark = #414141
colorGrayLight = #b8b8b8

// Fonts - Font Families
fontFamilyRoboto = "Roboto", sans-serif
fontFamilyUbuntu = "Ubuntu", sans-serif

// Fonts - For reading texts
fontSize0 = 16px
fontSize1 = 18px
fontSize2 = 20px
fontSize3 = 22px
fontSize4 = 24px

letterSpacingRoboto = 1px

lineHeight0 = 24px
lineHeight1 = 26px
lineHeight2 = 28px
lineHeight3 = 30px
lineHeight4 = 32px

// Spacings

spacing1x = 8px
spacing2x = (spacing1x * 2)
spacing3x = (spacing1x * 3)
spacing4x = (spacing1x * 4)
spacing5x = (spacing1x * 5)
spacing6x = (spacing1x * 6)
spacing8x = (spacing1x * 8)
spacing10x = (spacing1x * 10)
spacing12x = (spacing1x * 12)
spacing16x = (spacing1x * 16)
spacing20x = (spacing1x * 20)
spacing24x = (spacing1x * 24)
spacing30x = (spacing1x * 30)
spacing32x = (spacing1x * 32)
spacing64x = (spacing1x * 64)
spacing96x = (spacing1x * 96)
spacing128x = (spacing1x * 128)

// Misc.
headerHeight = 88px
