@import "../utils/_constants.sass"

$cardSpacing: $spacing6x

#view-programs
    position: relative
    width: $containerWidthPct
    max-width: $containerWidthPx1
    margin: 0 auto
    padding: $spacing1x 0 $spacing12x

    h1
        margin: $spacing6x 0
        font-family: $fontFamilyRockwell
        color: $colorTurquoise

        @media screen and (max-width: $mediaWidth1)
            text-align: center

    p
        margin: $spacing6x 0 0

        @media screen and (max-width: $mediaWidth1)
            text-align: center

    .section
        .section-title
            margin-bottom: $cardSpacing
            border-bottom: 1px solid $colorGrayLight
            color: $colorTurquoise
            font-family: $fontFamilyRockwell
            line-height: 88px
            font-size: $fontSize2

            @media screen and (max-width: $mediaWidth1)
                text-align: center
