@import "../utils/_constants.sass"

$cardSpacing: $spacing6x

#view-programs .section .program-card-container
    position: relative
    display: inline-block
    width: 212px
    height: 228px
    margin: 0 $cardSpacing $cardSpacing 0
    box-sizing: border-box
    vertical-align: top

    @media screen and (max-width: $containerWidthPxTablet)
        display: block
        margin: 0 auto $cardSpacing

    .program-card
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        position: relative
        bottom: 0px
        width: 100%
        height: 100%
        border-radius: 6px
        // background-color: $colorWhite
        background-color: $colorTurquoiseDark
        box-shadow: 0px 0px 12px 4px $colorBlackAlphaLight
        text-align: center
        vertical-align: top
        cursor: pointer
        overflow: hidden
        transition: all linear 0.1s

        &:hover
            bottom: 4px
            box-shadow: 0px 2px 12px 4px $colorBlackAlphaMed
        
        .card-top
            position: relative
            width: 100%
            height: 120px
            background-color: $colorTurquoiseDark
            overflow: hidden

            .overlay
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                // background: $colorBlackAlphaMed

            img
                width: 100%
        
        .card-title
            display: flex
            justify-content: center
            align-items: center
            position: absolute
            top: 54px
            left: 50%
            transform: translate(-50%, 0)
            min-width: 140px
            min-height: 72px
            padding: 0 $spacing2x
            box-shadow: 0px 0px 12px 4px $colorBlackAlphaLight
            box-sizing: border-box
            border-radius: 8px
            background-color: $colorWhite

            h2
                line-height: $lineHeight1
                font-size: $fontSize1
                font-weight: $fontWeightNormal

        .card-body
            height: 88px
            width: 100%
            // padding-bottom: $spacing3x

            h3
                margin-bottom: $spacing1x
                line-height: $lineHeight0
                font-size: $fontSize0
                font-weight: $fontWeightNormal
                // color: $colorGrayText
                color: $colorWhite

            .featured
                display: inline-block
                padding: 4px $spacing2x
                margin: 0 auto
                // border: 1px solid $colorTurquoise
                border-radius: 8px
                font-size: $fontSize0
                // color: $colorTurquoise
                color: $colorWhite
                background-color: $colorTurquoiseLight

                .container
                    display: flex
                    align-items: center
                img
                    margin-right: $spacing1x
        
        .card-footer
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            width: 100%
            padding: $spacing1_5x
            background-color: $colorTurquoise

            img
                position: relative
                top: -1px
                margin-left: $spacing1x
                width: $spacing1_5x
