@import "../utils/_constants.sass"

#view-programs .program-modal
    width: $spacing64x
    padding: $spacing1x $spacing6x $spacing2x
    box-shadow: 0px 2px 8px $colorBlack
    background-color: $colorWhite

    @media screen and (max-width: $containerWidthPxTablet)
        width: 100%
        box-sizing: border-box
    
    h1
        margin: 0
        padding-top: $spacing3x
        color: $colorBlack
        font-family: $fontFamilyRoboto
        font-size: $fontSize1
        font-weight: 400

        @media screen and (max-width: $containerWidthPxTablet)
            text-align: center

    h4
        padding: $spacing1_5x 0
        border-bottom: 1px solid $colorBlack
        font-weight: 400

        @media screen and (max-width: $containerWidthPxTablet)
            text-align: center

    ul
        margin-bottom: $spacing4x
        padding: 0

        &.use-scrollbar
            max-height: $spacing8x
            padding-right: $spacing2x
            overflow-y: scroll

    li
        display: flex
        justify-content: space-between
        align-items: start
        padding: $spacing2x 0
        border-bottom: 1px solid $colorGrayLight
        list-style: none
        line-height: $lineHeight0
        font-family: $fontFamilyRoboto
        font-size: $fontSize0

        @media screen and (max-width: $containerWidthPxTablet)
            flex-flow: column nowrap
            align-items: center
            margin-bottom: 0
            padding: $spacing2x 0
            line-height: $lineHeight1
            text-align: center

    .name
        font-weight: 500
        color: $colorBlackLight

        @media screen and (max-width: $containerWidthPxTablet)
            width: 100%

    a
        color: $colorTurquoise
    
    .full, .full-state
        color: $colorRed