@import "../utils/_constants.sass"

#view-account
    width: 80%
    margin: 0 auto $spacing16x
    
    > div
        margin: $spacing6x 0
        
    ul
        display: flex
        flex-direction: row
        align-items: center
        width: auto
        
        li
            width: 25%
            min-width: $spacing16x
            margin: $spacing1x 0
    
    ul.has-edit
        li:nth-last-child(2)
            flex-grow: 1
    
    a.edit
        margin-left: $spacing4x
    
    a.red
        color: #d91211
        
    h1,h2
        color: $colorTurquoise
        margin: $spacing2x 0
    
    h1
        margin: $spacing12x 0 $spacing8x
        text-align: center
        
    hr
        margin: $spacing2x 0
    
    p
        margin: $spacing2x 0
    
    p.classList-item
        margin: $spacing1x 0 0 $spacing4x