@import "../utils/_constants.sass"

#view-account
    width: 80%
    margin: 0 auto $spacing16x

    #tab-container
        display: flex
        flex-direction: row
        align-items: center
        border-bottom: 1px solid $colorGrayLight

        & div
            padding: $spacing2x 0
            flex-grow: 1
            border-bottom: 2px solid transparent
            text-align: center
            transition: 0.3s

        & div:hover
            background-color: $colorWhiteLight
            cursor: pointer

        & div.selected
            border-bottom: 2px solid $colorTurquoise

    .tab-content
        > div
            margin: $spacing6x 0 $spacing10x


    @media screen and (min-width: $mediaWidth3)
        .tab-content
            ul
                display: flex
                flex-direction: row
                border-bottom: 1px solid $colorWhiteLight

                li
                    padding: $spacing3x 0

                    .classList-item
                        margin: $spacing2x 0
                    .classList-item:first-child
                        margin-top: 0
                    .classList-item:last-child
                        margin-bottom: 0

                .li-med
                    width: $spacing32x
                .li-large
                    flex-grow: 1

            ul.three-columns
                li
                    width: calc(100% / 3)

            ul.vertical-centered
                align-items: center

            #password-change
                width: 60%

                li
                    padding: $spacing1x 0

                    input
                        width: calc(100% - 16px)


    @media screen and (max-width: $mediaWidth1)
        h2
            margin-bottom: $spacing2x

        .tab-content
            text-align: center

            ul
                display: flex
                flex-direction: row
                flex-wrap: wrap
                border-bottom: 1px solid $colorWhiteLight
                text-align: left

                li
                    padding: $spacing1x 0

        .tab-content#payment-tab
            ul
                li:first-child
                    width: 100%
                    padding-bottom: 0
                li
                    width: calc(100% / 3)

        .tab-content#reg-tab-main
            ul
                text-align: center

                li
                    width: 100%

                    .classList-item
                        display: flex
                        flex-direction: column
                        padding-bottom: $spacing1x

                        span:last-child
                            color: #888888

                li:first-child
                    font-weight: bold

        .tab-content#reg-tab-all
            div.space-between
                flex-direction: column
                align-content: center

            ul
                padding: $spacing1x 0

                li:first-child
                    width: 100%

                .li-large
                    flex: 1

                li:last-child
                    max-width: 40%
                    text-align: right


        .tab-content#settings-tab
            ul
                text-align: center

                li
                    width: 100%
                li:first-child
                    font-weight: bold

            .password-buttons
                justify-content: space-around

        ul.hide-mobile
            display: none

        .vertical-mobile
            display: flex
            flex-direction: column


    @media screen and (max-width: $mediaWidth3) and (min-width: $mediaWidth1)
        h2
            margin-bottom: $spacing2x

        .tab-content
            ul
                display: flex
                flex-direction: row
                flex-wrap: wrap
                border-bottom: 1px solid $colorWhiteLight
                text-align: left

                li
                    padding: $spacing1x 0

        .tab-content#payment-tab
            ul
                li:first-child
                    width: 100%
                    padding-bottom: 0
                li
                    width: calc(100% / 3)

        .tab-content#reg-tab-main
            ul
                li
                    width: 50%

                    .classList-item
                        display: flex
                        flex-direction: column
                        align-items: baseline
                        padding-bottom: $spacing1x

                        span:last-child
                            color: #888888

            ul.afh-table
                .li-large
                    flex: 1
                    padding-left: 50%

        .tab-content#reg-tab-all
            div.space-between
                align-items: center

                h2
                    margin: 0

            ul
                padding: $spacing1x 0

                li:first-child
                    width: 100%

                .li-large
                    flex: 1

                li:last-child
                    max-width: 40%
                    text-align: right


        .tab-content#settings-tab
            ul
                .li-med
                    width: 50%
                .li-large
                    flex: 1

            ul.users-table
                li:last-child
                    padding-left: 50%

            input
                width: calc(100% - 16px)
                /* not a great solution for overflowing padding, but it works */

            .password-buttons
                justify-content: space-between

        ul.hide-mobile
            display: none

        .vertical-mobile
            display: flex
            flex-direction: column


    .space-between
        display: flex
        justify-content: space-between
        align-items: center

    ul.header
        border-bottom: 1px solid $colorGrayLight

    ul
        line-height: $lineHeight1

    ul.no-border
        border: none

    .password-buttons
        margin-top: $spacing2x

    button
        border-radius: $spacing1x

    .btn-cancel
        background-color: #787878

    input
        padding: $spacing1x
        border: 1px solid $colorGrayLight
        border-radius: $spacing1x

    a:hover
        cursor: pointer

    .red
        color: #d91211

    .orange
        color: $colorOrange

    h1,h2
        color: $colorTurquoise

    h1
        margin: $spacing12x 0 $spacing8x
        text-align: center
