@import "../_.constants.sass"

#view-account
    width: 100%
    padding: $spacing1x $spacing8x $spacing4x
    box-sizing: border-box

    h1
        margin: $spacing4x 0
        line-height: $lineHeight4
        font-size: $fontSize5

    h4
        line-height: $lineHeight1

    button
        border-radius: 10px
        color: white
        background-color: $colorTurquoise

        a
            color: white
            text-decoration: none

        :hover
            filter: brightness(1.1)

    .hide
        display: none

    #search-accounts
        padding-bottom: $spacing5x

        .container
            display: flex
            flex-flow: row wrap
            align-items: flex-end
            justify-content: space-between
            max-width: $spacing96x
        
        .search-input
            display: flex

        input
            width: $spacing32x
            margin: 0 $spacing8x $spacing2x 0
            padding: 6px 12px
            border: 1px solid $colorGrayDark
            border-radius: $spacing1x
            box-sizing: border-box

            &:focus
                outline: none
                box-shadow: 0 0 2px $colorBlack

        .btn-search
            height: $spacing4x

        #create-account
            margin: $spacing2x

    #btn-delete-account
        margin: $spacing2x 0
        padding: 10px $spacing2x
        background-color: $colorRed
