@import "../static.styl"

#section-class-sessions
    width: 100%
    padding: spacing4x 0
    box-sizing: border-box

    & h2
        margin: spacing2x 0
    & h4
        margin: spacing1x 0

    & .date-block
        margin: spacing2x 0

    & .time-block
        display: inline-block
        width: spacing32x
        margin-right: spacing4x
    
    & .repeat-block
        margin: spacing1x 0

    & input.num-repeat
        width: spacing4x
        margin: spacing2x spacing1x

    & button.btn-add
        padding: spacing1x spacing2x
        background-color: colorTurquoise
        color: colorWhite