@import "../static.styl"

#home-banner-container
  position: relative
  width: 100%
  height: 500px

  & #banner-bg-img
    width: 100%
    height: 100%
    background: url('../../assets/sincos.jpg')
    background-size: cover
    background-position: center

  & #banner-bg-overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: colorTurquoiseDark
    opacity: 0.6

  & #banner-content
    position: absolute
    top: 40%
    left: 10%
    transform: translateY(-50%)

    & h1
      color: colorWhite
      font-size: fontSize4
      line-height: lineHeight4
    & h2
      margin-bottom: spacing2x
      color: colorOrange
      font-size: fontSize0
      line-height: lineHeight0

  & button
    position: absolute
    right: 10%
    bottom: 20%
    padding: spacing2x spacing3x

#view-home .section
  width: containerWidthPct
  max-width: containerWidthPx
  margin: 0 auto
  background-color: colorWhite

  & h2
    margin: spacing16x 0
    font-family: fontFamilyRockwell
    font-size: fontSize2
    line-height: lineHeight2
    letter-spacing: letterSpacing0
    text-align: center

// Home Tile Cards
.card-container

  & + div
    text-align: center
    margin-top: spacing12x
    margin-bottom: spacing16x

.home-tile-card
  display: inline-block
  width: calc(33% - 46px)
  padding: 0 spacing3x
  vertical-align: top

  &:first-child
    margin-left: 0
  &:last-child
    margin-right: 0

  & .img-container
    position: relative
    height: propUnit6x

    & img
      position: relative
      left: 50%
      transform: translateX(-50%)
      width: 100%
      max-width: propUnit6x

  & h3
    color: colorPrimary
    margin: spacing4x 0
    font-size: fontSize2
    line-height: lineHeight1
    text-align: center

  & p
    margin-bottom: spacing4x
    color: colorBlackDark
    text-align: center

  & button
    position: relative
    left: 50%
    transform: translateX(-50%)


// Home Section - Programs

// Home Section - Success
#view-home .section.success
  border-top: 1px solid colorGrayLight

  & .img-container
    background-color: colorPrimary
    height: propUnit6x

    & img
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: propUnit3x

  & h3
    padding: spacing2x 0
    max-height: propUnit2x
    box-sizing: border-box


// Home Section - Stories
#view-home .section.stories
  position: relative
  width: 100%
  max-width: 800px
  margin: 0 auto
  margin-bottom: spacing24x

#view-home .profile-container
  padding-bottom: propUnit4x
  padding-left: spacing4x

#view-home .profile-img-container
  display: inline-block
  width: propUnit6x
  height: propUnit6x
  margin-right: spacing6x
  border-radius: 100%
  overflow: hidden
  border: 4px solid colorPrimary

  & img
    width: 100%
    height: 100%

#view-home .profile-text-container
  display: inline-block
  width: calc(100% - 248px)
  vertical-align: top

  & h2
    margin-top: 0
    margin-bottom: spacing1x
    text-align: left
    font-size: fontSize1
    color: colorBlackDark

  & h3
    margin: 0
    line-height: lineHeight0
    font-family: fontFamilyArial
    font-size: fontSize0
    color: colorPrimary

  & p
    color: colorBlackDark

.section.stories .action-join
  position: absolute
  right: 0
  bottom: 0
