@import "../static.styl"

.program-class-modal
  width: propUnit14x
  padding: spacing1x spacing6x spacing2x
  background-color: white
  box-shadow: 0px 2px 8px colorBlackDark

  @media screen and (max-width: mediaWidth1)
    width: 100%
    box-sizing: border-box

  & h1
    margin-bottom: spacing4x
    line-height: propUnit2x
    font-family: fontFamilyRoboto
    font-size: fontSize1
    font-weight: 400
    color: colorBlackDark
    border-bottom: 1px solid colorBlackDark

    @media screen and (max-width: mediaWidth1)
      text-align: center

  & ul
    padding: 0
    margin-bottom: spacing4x

    /* If need to use scrollbar */
    &.use-scrollbar
      max-height: propUnit2x
      padding-right: spacing2x
      overflow-y: scroll

  & li
    margin-bottom: spacing2x
    list-style: none
    font-family: fontFamilyRoboto
    font-size: fontSize0
    line-height: lineHeight0

    & .class-name
      display: inline-block
      width: propUnit3x
      margin-right: spacing2x
      color: colorPrimary

      @media screen and (max-width: mediaWidth1)
        display: block
        width: auto
        margin: 0
        text-align: center

    & .class-times
      display: inline-block
      vertical-align: top

      @media screen and (max-width: mediaWidth1)
        display: block
        text-align: center

    & a
      float: right

      @media screen and (max-width: mediaWidth1)
        float: none
        display: block
        margin: spacing1x 0 spacing4x
        text-align: center
