@import "../static.styl"

cardSpacing = spacing6x

#view-program-container
  width: containerWidthPct
  max-width: containerWidthPx1
  margin: 0 auto
  padding: spacing1x 0 spacing12x

#view-program-container .section
  margin-bottom: cardSpacing

  & h1.section-title
    line-height: 88px
    margin-bottom: cardSpacing
    font-family: fontFamilyRockwell
    font-size: fontSize2
    color: colorPrimary
    border-bottom: 1px solid colorGrayLight

    @media screen and (max-width: mediaWidth1)
      text-align: center

  & h3
    line-height: lineHeight1
    font-size: fontSize1
    color: colorBlackDark

#view-program-container .section
  & .program-card-container
    display: inline-block
    position: relative
    width: 220px
    height: 200px
    margin: 0 cardSpacing cardSpacing 0
    box-sizing: border-box

    @media screen and (max-width: mediaWidth1)
      display: block
      margin: 0 auto cardSpacing

  & .program-card
    width: 100%
    height: 100%
    background-color: colorPrimary
    text-align: center
    vertical-align: top
    cursor: pointer

    &:hover
      filter: brightness(110%)

    & .program-card-content
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

    & h2
      width: propUnit6x
      margin: 0
      line-height: lineHeight1
      font-size: fontSize1
      color: colorWhite

    & h3
      margin: 0
      margin-top: spacing1x
      margin-bottom: spacing4x
      line-height: fontSize0
      font-size: fontSize0
      color: colorWhite

#view-program-container
  position: relative

  & .star-container
    position: absolute
    top: 0
    right: 0
    transform: translate(30%, -30%)
    width: 36px
    height: 36px
    border-radius: 100%
    background-color: colorTurquoiseLight

    & .star-img
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 24px
      height: 24px
      background: url("../../assets/star_white.svg")
      background-size: cover
      background-position: center

  & #star-legend
    display: inline-block
    position: absolute
    top: spacing5x
    right: 0
    font-size: fontSize0

    @media screen and (max-width: mediaWidth1)
      position: relative
      top: 0
      left: 50%
      transform: translateX(-50%)
      margin: spacing5x 0 spacing1x
      font-size: 14px

    & .star-container
      display: inline-block
      position: relative
      width: 28px
      height: 28px
      transform: none
      margin-right: spacing1x
      vertical-align: middle

      @media screen and (max-width: mediaWidth1)
        width: 22px
        height: 22px

      & .star-img
        width: 20px
        height: 20px

        @media screen and (max-width: mediaWidth1)
          width: 16px
          height: 16px
