// Colors

colorPrimary = colorTurquoise
colorAlert = colorYellow
colorHighlight = colorBlue
colorBackground = colorWhite

colorTurquoise = #056571
colorTurquoiseLight = #08A8BD
colorTurquoiseDark = #034D57
colorBlue = #1749A3
colorOrange = #FF6A5C
colorPurple = #6C48B0
colorYellow = #FFF852

colorWhite = #ffffff
colorWhiteLight = #f2f2f2
colorBlackDark = #222
colorBlack = #000000
colorGrayLight = #b8b8b8

// Proportion Units

propUnit1x = 32px
propUnit2x = (propUnit1x * 2)
propUnit3x = (propUnit1x * 3)
propUnit4x = (propUnit1x * 4)
propUnit5x = (propUnit1x * 5)
propUnit6x = (propUnit1x * 6)
propUnit7x = (propUnit1x * 7)
propUnit8x = (propUnit1x * 8)
propUnit9x = (propUnit1x * 9)
propUnit10x = (propUnit1x * 10)
propUnit12x = (propUnit1x * 12)
propUnit14x = (propUnit1x * 14)
propUnit16x = (propUnit1x * 16)
propUnit20x = (propUnit1x * 20)
propUnit24x = (propUnit1x * 24)
propUnit40x = (propUnit1x * 40)

// Spacings

spacing1x = 8px
spacing2x = (spacing1x * 2)
spacing3x = (spacing1x * 3)
spacing4x = (spacing1x * 4)
spacing5x = (spacing1x * 5)
spacing6x = (spacing1x * 6)
spacing8x = (spacing1x * 8)
spacing10x = (spacing1x * 10)
spacing12x = (spacing1x * 12)
spacing16x = (spacing1x * 16)
spacing24x = (spacing1x * 24)
spacing32x = (spacing1x * 32)

// Fonts - Font Families
@font-face
  font-family: 'rockwell'
  src: url('../../assets/fonts/rockwell/rockwell_regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
fontFamilyRockwell = "rockwell", sans-serif

fontFamilyRoboto = "Roboto", sans-serif
fontFamilyUbuntu = "Ubuntu", sans-serif

// Fonts - For reading texts
fontSize0 = 16px
fontSize1 = 18px
fontSize2 = 20px
fontSize3 = 22px
fontSize4 = 24px

letterSpacingRockwell = 2px
letterSpacingRoboto = 1px

lineHeight0 = 24px
lineHeight1 = 26px
lineHeight2 = 28px
lineHeight3 = 30px
lineHeight4 = 32px

// Misc.
containerWidthPx = propUnit40x
containerWidthPct = 80%

mediaWidth1 = 600px
mediaWidth2 = 800px
