@import "../static.styl"

body
  margin: 0
  background-color: colorBackground
  color: colorBlackDark
  font-family: fontFamilyArial
  font-size: fontSize1
  letter-spacing: letterSpacing0

h1
h2
h3
  margin: 0
  font-family: fontFamilyArial
  letter-spacing: letterSpacing0

p
  margin: spacing2x 0
  line-height: lineHeight0
  font-family: fontFamilyRoboto
  font-size: fontSize0
  letter-spacing: letterSpacing0

.logo
  font-family: fontFamilyRockwell
  font-size: 17px
  letter-spacing: 2px

  &:before
    content: 'Math Navigator'

button
  padding: spacing1x spacing2x
  outline: none
  border: none
  background-color: colorOrange
  color: colorWhite
  font-family: fontFamilyArial
  font-size: fontSize0
  line-height: lineHeight0
  letter-spacing: letterSpacing0
  cursor: pointer

  &:hover
    filter: brightness(110%)

  &.inverted
    color: colorOrange
    background-color: colorWhite
    border: 1px solid colorOrange

    &:hover
      color: colorWhite
      background-color: colorOrange

a
  color: colorOrange
  text-decoration: none

  &:hover
    text-decoration: underline


.use-scrollbar
  // For Firefox
  scrollbar-color: colorPrimary colorWhiteLight
  scrollbar-width: thin

  // For Chrome & Safari
  &::-webkit-scrollbar
    width: 6px
  &::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
  &::-webkit-scrollbar-thumb
    background-color: colorPrimary
