@import "../utils/_constants.sass"

#view-home .section
  width: $containerWidthPct
  max-width: $containerWidthPx1
  margin: 0 auto
  background-color: $colorWhite

  & h2
    margin: $spacing16x 0
    font-family: $fontFamilyRockwell
    font-size: $fontSize2
    line-height: $lineHeight2
    letter-spacing: $letterSpacingRoboto
    text-align: center

    @media screen and (max-width: $mediaWidth3)
      margin: $spacing8x 0


// Home Section - Stories
#view-home .section.stories
  position: relative
  width: 100%
  max-width: 800px
  margin: $spacing12x auto $spacing24x

  & .story-banner-container
    position: relative

    & .story-banner-img
      width: 100%
      height: $spacing48x
      background: url('../../assets/classroom1.jpg')
      background-position: center
      background-size: cover

    & .story-banner-overlay
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: $colorBlack
      opacity: 0.2

    & .text-container
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      padding: $spacing4x $spacing8x

      & h2
        margin: 0 0 $spacing4x
        color: $colorWhite

    & .action-join
      position: absolute
      right: 0
      bottom: 0
