@import "../utils/_constants.sass"

#home-announce
    position: fixed
    bottom: $spacing4x
    left: $spacing4x
    transform: translate(-10%, 10%) scale(0.7)
    width: $propUnit12x
    padding: $spacing2x $spacing4x
    box-sizing: border-box
    visibility: hidden
    z-index: 10
    background-color: $colorYellow
    opacity: 0.0
    transition: all linear 0.15s

    &.show
        transform: translate(0, 0) scale(1.0)
        visibility: visible
        opacity: 1.0

    @media screen and (max-width: $mediaWidth1)
        bottom: 0
        left: 0
        width: 100%

    & button
        position: absolute
        top: $spacing2x
        right: $spacing2x
        background-color: $colorYellow
        line-height: 0
        padding: 0

        &:hover
            filter: none

        & img
            width: 24px
            height: 24px

    & h3
        margin: $spacing1x 0
        line-height: $lineHeight0
        font-size: $fontSize0
        font-weight: bold

    & .text-container
        position: relative

    & p
        margin: 0
        line-height: $lineHeight0
        font-size: $fontSize0

    & a
        display: block
        float: right
        margin: $spacing2x 0


#fake-announce
    position: fixed
    top: 0
    right: 0
    z-index: 10
    width: $propUnit12x
    padding: $spacing2x $spacing4x
    box-sizing: border-box
    background-color: $colorYellow
