@import "../utils/_constants.sass"

#view-home .section
  width: $containerWidthPct
  max-width: $containerWidthPxFull
  margin: 0 auto
  background-color: $colorWhite

  & h2
    margin: $spacing16x 0 $spacing12x
    font-family: $fontFamilyRockwell
    font-size: $fontSize2
    line-height: $lineHeight2
    letter-spacing: $letterSpacingRoboto
    text-align: center

    @media screen and (max-width: $containerWidthPxMonitor)
      margin: $spacing8x 0
