@import "_.constants.sass"

body
    margin: 0
    font-family: $fontFamilyRoboto
    color: $colorBlackDark

p
    line-height: $lineHeight0
    font-size: $fontSize0

button
    padding: $spacing1x $spacing2x
    border: none
    border-radius: 6px
    outline: none
    font-size: $fontSize0
    cursor: pointer

    &:hover
        filter: brightness(1.1)

a
    font-size: $fontSize0
    line-height: $lineHeight0
    color: $colorTurquoise
    text-decoration: none

    &:hover
        text-decoration: underline
