@import "../utils/_constants.sass"

#view-achieve 
    padding: 0 0 $spacing24x

    h1
        color: $colorTurquoise


.achieve-card
    margin-bottom: $spacing16x
    
    & h2
        padding-bottom: $spacing1x
        border-bottom: 1px solid $colorGrayMed
        line-height: $lineHeight2
        font-size: $fontSize2
        color: $colorTurquoise

    & li
        display: flex
        flex-direction: row
        align-items: center
        min-height: $spacing12x
        border-bottom: 1px solid $colorGrayLight
        line-height: $lineHeight0
        font-size: $fontSize0
        
        & .bullet
            display: inline
            min-width: 6px
            min-height: 6px
            border-radius: 100%
            background-color: $colorGrayLight
            
        & p
            margin: $spacing2x 0 $spacing2x $spacing4x
            overflow-wrap: anywhere
            word-wrap: break-word
    
    & a
        float: right
        margin-top: $spacing2x
        line-height: $lineHeight0
        font-size: $fontSize0
    
#view-achievements-container
    width: 80%
    max-width: 512px
    margin: 0 auto 128px
    
    & h1
        margin-top: 96px
        line-height: 28px
        text-align: center
    
    & .subheaders
        margin: 32px 0 96px
        color: #222
        line-height: $lineHeight1
        font-size: $fontSize1
        text-align: center
