@import "../_.constants.sass"

#view-help
    width: $spacing120x
    margin: 0 auto
    padding: $spacing8x 0

    h1
        line-height: $lineHeight4
        font-size: $fontSize4
        color: $colorGrayDark

    section
        margin: $spacing8x 0

        h2
            line-height: $lineHeight3
            font-size: $fontSize3
            color: $colorTurquoise

        p
            line-height: $lineHeight0
            font-size: $fontSize0
            color: $colorBlack

        a
            color: $colorBlue

