@import "../_.constants.sass"

#view-help
    h1
        color: $colorTurquoise
        margin-left: $spacing12x
        margin-top: $spacing4x
        font-family: $fontFamilyRoboto
        font-size: $fontSize4
    
    p
        margin: $spacing3x 0px $spacing4x $spacing12x
        width: $spacing128x
        font-family: $fontFamilyRoboto
        color: $colorGrayDark
    
    h2
        font-family: $fontFamilyRoboto
        font-size: $fontSize4
        margin-left: $spacing12x
        padding-bottom: $spacing3x
        border-bottom: 1px solid
        width: $spacing128x
