@import "../_.constants.sass"

#view-help
    h1
        margin-left: $spacing12x
        margin-top: $spacing4x
        color: $colorTurquoise
        font-family: $fontFamilyRoboto
        font-size: $fontSize4
    
    p
        width: $spacing128x
        margin: $spacing3x 0px $spacing4x $spacing12x
        color: $colorGrayDark
        font-family: $fontFamilyRoboto
    
    h2
        width: $spacing128x
        margin-left: $spacing12x
        padding-bottom: $spacing3x
        border-bottom: 1px solid
        font-family: $fontFamilyRoboto
        font-size: $fontSize4
