@import "../static.styl"

body
  margin: 0
  h1
    color: colorGrayMed
    margin-left: 100px
    margin-top: 30px
    font-family: fontFamilyRoboto
    font-size: fontSize4
  p
    margin: 20px 0px 40px 100px
    width: 1000px
    font-family: fontFamilyRoboto
    color: colorGrayMed

    

