@import "../../_.constants.sass"

.user-account-searcher
    width: 100%
    padding: $spacing2x
    border: 2px solid $colorTurquoiseDark
    display: flex
    flex-direction: row
    line-height: $lineHeight2

    .searcher
        select
            margin-right: $spacing2x
            padding: 4px $spacing1x
        input
            width: $spacing24x
            margin-right: $spacing2x
            padding: 0 $spacing1x
            line-height: $lineHeight3
            font-size: $fontSize0
        button
            background-color: $colorTurquoise
            color: $colorWhite

    .users
        width: $spacing64x
        height: $spacing48x
        margin-left: $spacing8x
        padding: 0 $spacing2x
        overflow-y: scroll
        border: 1px solid $colorTurquoiseDark

    .user
        margin-bottom: $spacing3x
        padding-bottom: $spacing3x
        border-bottom: 1px solid $colorGrayLight

        h4
            margin: 0
            color: $colorTurquoise

        p
            margin: 0
