@import "../utils/constants.sass"

#view-intern
    width: 75%
    margin-left: auto
    margin-right: auto
    font-family: $fontFamilyRoboto

    & h1
        margin-top: $spacing10x
        margin-bottom: $spacing4x
        color: $colorPrimary

    & h4
        margin-bottom: $spacing3x
        color: $colorPrimaryAccent
        text-align: left

    .container-main
        display: flex
        flex-direction: row
        align-items: center
        margin-bottom: $spacing4x

        & img
            width: $spacing16x
            margin-right: $spacing8x
    
        & p
            margin: 0

    .intern-main
        display: flex
        flex-direction: row
        margin-bottom: $spacing3x

        .name
            width: $spacing16x
        .school
            width: $spacing40x
        .college
            width: calc(100% - #{$spacing16x} - #{$spacing40x})

    #last-paragraph
        margin-bottom: $spacing32x

    @media only screen and (max-width: 800px)
        & h1, h4, p
            text-align: center

        .container-main
            display: inline
            flex-direction: column
            align-items: center

            & img
                display: block
                margin: 0 auto
                width: $spacing16x
        
            & p
                margin: 5%

        .intern-main
            display: flex
            flex-direction: column
            text-align: center
            margin-bottom: $spacing4x
            & span
                margin: 0
            .name, .school, .college
                width: auto
