@import "../utils/constants.sass"

#view-intern
    width: 70%
    margin-left: auto
    margin-right: auto
    font-family: $fontFamilyRoboto

    & h1
        margin-top: 90px
        margin-bottom: 30px
        color: $colorTurquoise

    & h4
        margin-bottom: 20px
        color: $colorTurquoiseLight
        text-align: center

    .container-main
        display: flex
        flex-direction: row
        align-items: center
        margin-bottom: 30px

        & img
            width: 120px
            margin-right: 60px
    
        & p
            margin: 0

    .intern-main
        display: flex
        flex-direction: row
        justify-content: center

        & p
            margin: 20px




    #last-paragraph
        margin-bottom: 300px

    @media only screen and (max-width: 700px)
        & h1, p
            text-align: center

        .container-main
            display: inline
            flex-direction: column
            align-items: center

            & img
                margin-left: auto
                margin-right: auto
                margin-bottom: 0
                width: 90%
        
            & p
                margin: 5%

        .intern-main
            display: flex
            flex-direction: column
            text-align: center
            margin-bottom: 35px
            & p
                margin: 0
