@import "../utils/constants.sass"

#view-intern
    width: $containerWidthPct
    max-width: $containerWidthPxLaptop
    margin: 0 auto
    font-family: $fontFamilyRoboto

    & h1
        margin-top: $spacing8x
        margin-bottom: $spacing4x
        text-align: center
        font-family: $fontFamilyRoboto
        color: $colorGrayText

        &.title
            color: $colorPrimary

    & p.description
        max-width: $spacing64x
        margin: 0 auto
        text-align: center
        line-height: $lineHeight1
        font-size: $fontSize0

    section.tech-stack
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        align-items: center

    .img-container
        display: flex
        justify-content: center
        align-items: center
        width: $spacing16x
        height: $spacing12x
        margin: 0 $spacing2x $spacing4x
        padding: $spacing2x
        box-shadow: 0px 4px 8px 0 #{$colorGrayDark}33
        border-radius: 8px
        background-color: $colorWhite
        overflow: hidden

        & img
            width: 100%

    section.past-interns
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center

    .intern-container
        width: $spacing28x
        padding: $spacing2x $spacing3x
        margin: 0 $spacing2x $spacing4x
        border-radius: 8px
        box-shadow: 0px 4px 8px 0 #{$colorGrayDark}33
        line-height: $lineHeight1
        font-size: $fontSize0
        background-color: $colorWhite

        .name
            font-weight: $fontWeightMed
            color: $colorGrayText

    section.structure1
        display: flex
        flex-direction: column
        justify-content: start

        .role-container
            display: flex
            flex-direction: row
            justify-content: center

            @media screen and (max-width: $containerWidthPxMonitor)
                flex-direction: column
                justify-content: start
                align-items: center 

        .role-card
            margin: $spacing3x $spacing2x
            padding: $spacing2x
            border-radius: 8px
            box-shadow: 0px 4px 8px 0 #{$colorGrayDark}33
            background-color: $colorWhite

            @media screen and (max-width: $containerWidthPxMonitor)
                margin: $spacing2x 0

        .container
            display: flex
            justify-content: space-between
            align-items: center

        h4
            text-align: center
            font-size: $fontSize1
            font-weight: $fontWeightMed
            color: $colorGrayText

        img
            width: $spacing16x
            margin: $spacing1x

    section.carousel
        margin-top: $spacing12x

    section#last
        margin-top: $spacing12x
        margin-bottom: $spacing32x
