head {
	font-family: 'Roboto', sans-serif;

}

body {
	font-family: 'Roboto', sans-serif;

}

li {
	display: inline-block;
	margin: 5px;
	border-color: white;
	border-width: 5px;
	background-color: #00ff00;
}

.pewdiepie {
	background-color: #ffd700;
}

.header {
	height: 160px;
	text-align: center;
	padding: 30px 0px;
	box-sizing: border-box;
	background-color: #0000ff;
	line-height: 30px;
}

.menu {
	display: inline-block;
	width: 150px;
	height: calc(100% - 164px);
	background-color: #ff0000;
	overflow-y: auto;
}

.content {
	display: inline-block;
	width: calc(100% - 154px);
	height: calc(100% - 164px);
	background-color: white;
	overflow-y: auto;
	vertical-align: top;
}