body {
	margin: 0;
}
.headercolor {
	background-color: white;
	width: 100%;
}
ul {
  display: block;
	margin: 0 auto;
	background-color: white;
	color: white;
	text-align:left;  
	width:500px;
	font-size: 30px;
	overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #CFCFCF;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover {
	font-size: 30.5px;
}
.Headers {
	color: #CFCFCF;
	text-align:center;  
	font-family: 'Nanum Brush Script', cursive;
	font-size: 80px;
}
p {
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	text-align: center;
	color: #CFCFCF;
}

#wrapper {
	width: 1800px;
	margin: 0 auto;
}

/*/Profile cards /*/

.profile-card {
  display: inline-block;
  width: 560px;
  height: 500;
  padding: 48px;
  background-color: white;
  border-radius: 12px;
  box-sizing: border-box;
  vertical-align: top;
}
.image-on-left {
  display: inline-block;
  width: 128px;
}

.colored-circle1 {
  position: relative;
  width: 104px;
  height: 104px;
  border-radius: 100%;
  background-color: #CFCFCF;
}

.circle {
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  vertical-align: top;
}

.text-on-right {
  display: inline-block;
  width: calc(100% - 148px);
  height: 50px;
  color: #CFCFCF;
}

/*media stuff*/

@media screen and (max-width: 800px) {
    .profile-card {
        width: 80%;
        height: 350px; 
    }

    .image-on-left {
      display: block;
      margin: 0 auto;
      margin-bottom: 24px;
    }

    .text-on-right {
      display: block;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
}

.footer {
  margin-top: 500px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #CFCFCF;
}
.footerh3 {
	display: inline-block;
	margin: 0;
	width: 200px;
	height: 50px;
	position: relative;
	Top: 20px;
	Left: 280px;
	font-size: 30px;
	color: white;
}
.footerp {
	color: white;
	display: inline-block;
	margin: 0;
	position: relative;
	Top: 20px;
	Left: 220px;
	font-size: 20px;
}