#ul1 {
  display: block;
	margin: 0 auto;
	background-color: white;
	text-align:left;  
	width:500px;
	font-size: 30px;
	overflow: hidden;
}

.li {
  float: left;
}

.li {
  display: block;
  color: #CFCFCF;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.li:hover {
	font-size:  30.5px;
}
a {
	text-decoration: none;
	color: #CFCFCF;
}


.Headers {
	color: #CFCFCF;
	text-align:center;  
	font-family: 'Nanum Brush Script', cursive;
	font-size: 80px;
}
p {
	display: block;
	color: #CFCFCF;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}
h2 {
	text-align: center;
	color: #CFCFCF;

}

body {
  margin: 0;
}
img {
	display:inline-block;
}

h3{
	display: inline-block;
	color: #CFCFCF;
	font-size: 27px;
}
h3:hover {
	font-size: 28px;
	color: #AFAFAF;
}
#container {
	margin: 0-auto;
	width: 100%;
	height: 800px;
}
#backrow {
	position: absolute;
	right: 300px;

}
#frontrow {
	position: absolute;
	left: 300px;
}
li {
	list-style: none;
}
.outerlist {

}
.sublist {
	background-color: white;
	height: 0;
	overflow: hidden;
	transition: 3s,linear-height;
}
.show {
	height: 300px;	
	overflow: show;
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #CFCFCF;
}
.footerh3 {
	display: inline-block;
	margin: 0;
	width: 200px;
	height: 50px;
	position: relative;
	Top: 20px;
	Left: 280px;
	font-size: 30px;
	color: white;
}
.footerp {
	color: white;
	display: inline-block;
	margin: 0;
	position: relative;
	Top: 20px;
	Left: 220px;
	font-size: 20px;
}