@import "../_.constants.sass"

#view-program
  div 
    display: flex
    flex-direction: row
    justify-content: flex-start
    flex-wrap: nowrap

    span
      width: 350px

    .edit
      align-self: right
      
  #header
    display: flex
    align-items: center
    height: 55px
    border-bottom: 2px solid $colorGrayDark

  #rows
    list-style: none
    padding: 0
    margin: 0

    div
      display: flex
      align-items: center
      height: 60px
      border-bottom: 1px solid $colorGrayLight

