@import "../static.styl"

#view-program #list-heading
  border-bottom: 2px solid colorGrayDark

  & li
    display: inline-block
    height: spacing4x
    line-height: spacing4x

  & button
    color: colorTurquoise
    
#view-program
  & .li-small
    width: 80px
  & .li-med
    width: 160px
  & .li-large
    width: 240px
  & .li-checkbox
    width: 100px

#view-program #list-rows li
  display: block
  position: relative
  width: 100%
  height: 60px
  line-height: 60px
  border-bottom: 1px solid colorGrayLight

  &.unpublished
    color: colorGrayMed

  & input
    position: relative
    top: 4px
    left: 40px
    margin: 0

  & div
    display: inline-block

  & button
    position: absolute
    top: 50%
    right: spacing4x
    transform: translateY(-50%)