@import "../static.styl"

#view-program
  width: 100%
  padding: 0 spacing2x
  box-sizing: border-box

  & h1
    display: inline-block
    margin: spacing4x 0
    line-height: lineHeight3
    font-size: fontSize3

  & button
    margin-top: spacing4x
    padding: 0.75em
    border-radius: 10px
    background-color: colorTurquoise

  #add-program
    color: white
    text-decoration: none
