@import "../utils/constants.sass"

#view-afh
    width: 70%
    margin: 0 auto $spacing24x
    font-family: $fontFamilyRoboto

    &  h1
        margin: $spacing6x 0
        color: $colorTurquoise
        
    .description
        margin: $spacing2x 0
        color: $colorBlack

    .tabs 
        display: flex
        flex-direction: row
        align-items: center
        border-bottom: 1px solid $colorGrayLight

        .active
            border-bottom: 2px solid $colorTurquoise

    .tabs button 
        width: 33.333%
        height: 100%
        padding: $spacing2x
        background-color: $colorWhite
        border-bottom: 2px solid transparent
        font-size: $fontSize1
        color: $colorBlack
        cursor: pointer
        transition: 0.3s

    .tabs button:hover
        background-color: $colorGrayLight
        cursor: pointer
    
    .showTab 
        display: inline-block
        width: 100%
        padding: $spacing4x 0
        border: none

    .hide
        display: none

    .afh-row
        margin-bottom: $spacing4x
        padding-bottom: $spacing4x
        border-bottom: 1px solid $colorGrayLight

        .row-header
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: start

        h3
            margin-bottom: $spacing1x
            line-height: $lineHeight2
            font-size: $fontSize1
            color: $colorTurquoise

        .notes
            margin-top: $spacing2x
            color: $colorOrange

        p
            margin: $spacing1x 0

        .location
            margin-top: $spacing2x
            line-height: $lineHeight0

@media only screen and (max-width: 700px)
    #view-afh
        width: 90%

        & h1, .description
            text-align: center

        .tabs button
            font-size: $fontSize0

        .afh-row
            text-align: center

            .row-header
                flex-direction: column
                justify-content: start
                align-items: center

                a
                    width: $spacing24x
                    margin: $spacing2x 0
                    padding: $spacing1x 0
                    border: 1px solid $colorBlue

                    &:hover
                        background-color: $colorBlue
                        color: $colorWhite
                    
