@import "../utils/constants.sass"



#view-afh
    width: 70%
    margin: 0 auto
    font-family: $fontFamilyRoboto

    &  h1
        margin: $spacing6x 0
        color: $colorTurquoise

    .sessions-list
        display: flex
        flex-direction: row
        align-items: center
        margin: $spacing4x auto
        color: $colorBlack

        .sessions-checkbox
            width: 20%

    .sessions-list-active
        display: flex
        flex-direction: row
        align-items: center
        margin: $spacing4x auto
        color: $colorTurquoiseLight

        .sessions-checkbox
            width: 20%
        

    .description
        margin: $spacing2x 0
        color: $colorBlack

    .select
        flex: 0 0 $spacing10x
        margin-right: $spacing2x

    .tabs 
        overflow: hidden
        border-bottom: 1px solid $colorGrayLight

        .active
            border-bottom: 2px solid $colorTurquoise

    .tabs button 
        float: center
        width: 33.333%
        height: 100%
        cursor: pointer
        padding: $spacing2x
        transition: 0.3s
        background-color: $colorWhite
        font-size: $fontSize1
        color: $colorBlack

    .tabs button:hover
        cursor: pointer
        background-color: $colorGrayLight
    
    .showTab 
        display: inline-block
        width: 100%
        padding: $spacing1x $spacing2x
        border: none
    .hide
        display: none
    
@media only screen and (max-width: 700px)
    #view-afh
        width: 100%

        & h1, .description
            text-align: center

        .sessions-list
            width: 90%
            margin: $spacing3x auto

        .tabs button
            font-size: $fontSize0