@import "../static.styl"

#view-class-container
  width: containerWidthPx
  max-width: containerWidthPct
  margin: 0 auto spacing16x

  & h1
    margin: spacing8x 0
    line-height: lineHeight3
    font-size: fontSize3
    color: colorPrimary

    & a
      color: colorPrimary

  & .class-info-1
  & .class-info-2
    margin-bottom: spacing4x
    line-height: lineHeight0
    font-size: fontSize0
    color: colorBlackDark

    & .class-lines
      margin-bottom: spacing4x

  & .class-info-2
    position: relative

    & button
      position: absolute
      top: 0
      right: 0

  & #class-info-container
    & b
      color: colorPrimary


#view-schedule
  margin: spacing4x 0
  line-height: lineHeight0
  font-size: fontSize0

  & h3
    margin: spacing2x 0

  & b
    color: colorPrimary

  & ul
    padding: 0

  & li
    margin: spacing2x 0
    list-style: none

    & div
      display: inline-block

      &.line-index
        width: propUnit1x
      &.line-date
        width: propUnit4x

      &.line-right
        vertical-align: top

        & .class-line
          display: block
          margin: 0
          color: colorBlackDark

        & .alert
          color: colorAccent

#view-class-container
  & #view-questions
    margin: spacing12x 0 spacing4x
