head {
	font-family: 'Roboto', sans-serif;
}

body {
	font-family: 'Roboto', sans-serif;
}

.header {
	height: 90px;
	width: 100%;
	padding: 30px 0px;
	background-color: #000000;
	font-size: 40px;
	text-align: center;
	box-sizing: border-box;
	line-height: 30px;
}

.blue {
	color: #0000GG;
}

.gold {
	color: #d4af37;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.other-page {
	width: 24%;
	height: 50px;
	margin: 0px;
	background-color: #a0a0e6;
	font-size: 25px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	
}

.other-page.hover {
	background-color: #0000ff;
}

.about {

}

.contact {
	
}

.social-media {
	
}