@import "../static.styl"

#view-afh-container
  width: propUnit16x
  margin: 0 auto spacing16x

  & h1
    margin: spacing12x 0 spacing4x
    font-family: fontFamilyRockwell
    font-size: fontSize2
    color: colorPrimary

  & p
    margin-bottom: spacing8x

  & h2
    line-height: lineHeight1
    font-size: fontSize1
    color: colorPrimary

  & .location
  & .times
    margin: spacing1x 0
    line-height: lineHeight0
    font-size: fontSize0


  & a.back-programs
    display: inline-block
    margin-top: spacing8x
    line-height: lineHeight0
    font-size: fontSize0
