@import "../static.styl"

#afh-form
  margin-top: spacing6x

  & .afh-input-container
    margin-bottom: spacing2x

  & .section
    margin-bottom: spacing8x

    & h2
      margin-bottom: spacing2x

    & textarea
      width: propUnit16x
      height: propUnit4x
      padding: spacing2x
      box-sizing: border-box
      font-family: fontFamilyRoboto
      font-size: fontSize0
      line-height: lineHeight0
      resize: none
      outline: colorPrimary

      &:focus
        outline-color: colorTurquoiseLight

      @media screen and (max-width: mediaWidth1)
        width: 100%
        border: 1px solid colorGrayLight

  & .section.sessions
    & .afh-session
      margin-bottom: spacing4x
      line-height: lineHeight0
      font-size: fontSize0

    & h4
      line-height: lineHeight1
      font-size: fontSize1
      color: colorPurple

    & input
      position: relative
      top: 4px
      margin-right: spacing2x
      vertical-align: top
      cursor: pointer

    & .afh-session-text
      display: inline-block

      &.highlight
        color: colorBlue
        & h4
          color: colorBlue

  & .section.additional
    margin-bottom: spacing2x

  & .section.submit
    position: relative
    width: propUnit16x

    @media screen and (max-width: mediaWidth1)
      width: 100%

    & p
      margin: 0
      line-height: lineHeight0
      font-size: fontSize0
      color: colorBlackDark

      @media screen and (max-width: mediaWidth1)
        margin-top: spacing2x
        text-align: center

    & .list-fields-remaining
      margin-top: spacing2x
      font-size: fontSize0
      display: none

      &.show
        display: block

      & ul
        margin: 0

    & button
      position: absolute
      right: 0
      top: 0
      background-color: colorGrayLight
      color: colorBlackDark
      cursor: initial

      @media screen and (max-width: mediaWidth1)
        position: relative
        width: 100%
        margin-top: spacing2x

      &:hover
        filter: none

      &.active
        background-color: colorOrange
        color: colorWhite
        cursor: pointer

        &:hover
          filter: brightness(110%)

  & .section.errors li
    line-height: lineHeight0
    font-size: fontSize0
    color: colorOrange

    &:first-child
      color: colorBlack
      margin-bottom: spacing1x
