#header
  height: 72px
  background-color: #ccdfcb

.header-container
  width: 720px
  height: 100%
  margin: 0 auto

.logo-container
  display: inline-block
  position: relative
  padding: 16px 0

.logo-svg
  display: inline-block
  width: 36px
  height: 36px
  margin: auto 12px auto 0
  vertical-align: bottom
  background-image: url('../assets/logo_gray.svg')
  background-size: cover


.logo-title
  display: inline-block
  position: relative
  bottom: 6px
  font-size: 20px
  color: #414141
