@import "../static.styl"

.afh-popup-container
  position: fixed
  bottom: "calc(60px + %s)" % spacing2x
  right: "calc(60px + %s)" % spacing2x
  width: propUnit10x
  height: 120px

  @media screen and (max-width: mediaWidth1)
    bottom: "calc(30px + %s)" % spacing2x
    right: "calc(30px + %s)" % spacing2x

  & .afh-message
    position: absolute
    bottom: 0
    right: 0
    width: 0px
    height: 0px
    padding: 0
    box-sizing: border-box
    background-color: colorPurple
    overflow: hidden
    transition: 0.2s linear all

    &.show
      width: 100%
      height: 100%
      padding: spacing2x spacing6x spacing2x spacing2x

      & p
        display: block

    & .afh-dismiss-btn
      position: absolute
      top: spacing2x
      right: spacing2x
      padding: 0
      outline: none
      border: none
      background-color: colorPurple

      &:hover
        filter: brightness(1.0)

      & img
        width: 16px
        height: 16px

    & p
      display: none
      margin: 0
      line-height: lineHeight0
      font-size: 14px
      color: colorWhite

  & .afh-link
    position: fixed
    bottom: spacing2x
    right: spacing2x
    width: 120px
    height: 120px
    box-sizing: border-box
    border-radius: 100%
    border: none
    background-color: colorBlue

    @media screen and (max-width: mediaWidth1)
      width: 100px
      height: 100px

    &:hover
      transform: scale(1.1)
      text-decoration: none
      filter: brightness(1.1)

    & .afh-link-text
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 100%
      line-height: 22px
      text-align: center
      font-size: 14px
      color: colorWhite

      @media screen and (max-width: mediaWidth1)
        font-size: 12px
