@import "../static.styl"

cardSpacing = spacing6x

#view-program-container
  width: containerWidthPct
  max-width: containerWidthPx
  margin: 0 auto
  padding: spacing1x 0 spacing12x

#view-program-container .section
  margin-bottom: cardSpacing

  & h1.section-title
    line-height: 88px
    margin-bottom: cardSpacing
    font-family: fontFamilyRockwell
    font-size: fontSize2
    color: colorPrimary
    border-bottom: 1px solid colorGrayLight

  & h3
    line-height: lineHeight1
    font-size: fontSize1
    color: colorBlackDark

#view-program-container .section
  & .program-card-container
    display: inline-block

  & .program-card
    position: relative
    display: inline-block
    width: 220px
    height: 200px
    margin: 0px cardSpacing cardSpacing 0
    box-sizing: border-box
    background-color: colorPrimary
    text-align: center
    vertical-align: top
    cursor: pointer

    &:hover
      filter: brightness(110%)

    & .program-card-content
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

    & h2
      width: propUnit6x
      margin: 0
      line-height: lineHeight1
      font-size: fontSize1
      color: colorWhite

    & h3
      margin: 0
      margin-top: spacing1x
      margin-bottom: spacing4x
      line-height: fontSize0
      font-size: fontSize0
      color: colorWhite

#view-program-container .program-card
  & .star-container
    position: absolute
    top: 0
    right: 0
    transform: translate(30%, -30%)
    width: 36px
    height: 36px
    border-radius: 100%
    background-color: colorTurquoiseLight

    & .star-img
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 24px
      height: 24px
      background: url("../../assets/star_white.svg")
      background-size: cover
      background-position: center

#view-program-container .program-card
  &.afh
    background-color: colorWhite
    border: 2px dashed colorPrimary
    & h2
    & h3
      color: colorPrimary

    &:hover
      border: 2px dashed colorTurquoiseLight
      & h2,h3
        color: colorTurquoiseLight

    & button
      border: 1px solid colorAccent
      background-color: colorWhite
      color: colorAccent

      &:hover
        background-color: colorAccent
        color: colorWhite
