@import "static"

#view-announce-container
  width: propUnit16x
  margin: 0 auto

  & h1
    margin: spacing12x
    font-family: fontFamilyRockwell
    line-height: lineHeight2
    font-size: fontSize2
    color: colorPrimary
    text-align: center

  & .announce-card
    margin: spacing8x 0
    padding: spacing2x 0

    & h3
      line-height: lineHeight1
      font-size: fontSize1
      color: colorPrimary

    & .card-message
    & .card-author
      line-height: lineHeight0
      font-size: fontSize0
