@import "static"

body
  margin: 0
  background-color: colorBackground
  color: colorBlackDark
  font-family: fontFamilyArial
  font-size: fontSizeNormal
  letter-spacing: letterSpacing

p
  margin: padding2x 0
  font-family: fontFamilySourceSans
  font-size: fontSizeSmall
  letter-spacing: letterSpacing

.logo
  font-family: fontFamilyRockwell
  font-size: 17px
  letter-spacing: 2px

  &:before
    content: 'Math Navigator'
