@import "static"

body
  margin: 0
  background-color: colorBackground
  color: colorBlackDark
  font-family: fontFamilyArial
  font-size: fontSize1
  letter-spacing: letterSpacing0

h1
h2
h3
  margin: 0
  font-family: fontFamilyArial
  letter-spacing: letterSpacing0

p
  margin: spacing2x 0
  line-height: lineHeight0
  font-family: fontFamilyRoboto
  font-size: fontSize0
  letter-spacing: letterSpacing0

.logo
  font-family: fontFamilyRockwell
  font-size: 17px
  letter-spacing: 2px

  &:before
    content: 'Math Navigator'

button
  padding: spacing1x spacing2x
  outline: none
  border: none
  background-color: colorAccent
  color: colorWhite
  font-family: fontFamilyArial
  font-size: fontSize0
  line-height: lineHeight0
  letter-spacing: letterSpacing0
  cursor: pointer

  &:hover
    filter: brightness(110%)

  &.inverted
    color: colorAccent
    background-color: colorWhite
    border: 1px solid colorAccent

    &:hover
      color: colorWhite
      background-color: colorAccent

a
  color: colorAccent
  text-decoration: none

  &:hover
    text-decoration: underline
