@import "static"

#view-contact-container
  width: containerWidthPct
  max-width: containerWidthPx
  margin: 0 auto spacing24x

  & .section
    margin-bottom: spacing8x

  & h1
    margin: spacing12x 0
    line-height: lineHeight2
    font-family: fontFamilyRockwell
    font-size: fontSize2
    color: colorPrimary

  & h2
    margin: spacing4x 0
    line-height: lineHeight1
    font-size: fontSize1
    color: colorPrimary

#view-contact-container

  & .contact-input-container
    margin: spacing2x 0

  & .contact-input
    display: inline-block
    margin-right: spacing4x
    vertical-align: top

    & input
      height: 28px
      margin: spacing1x 0 0
      padding: 0 spacing1x
      font-family: fontFamilyRoboto
      font-size: fontSize0
      border: 1px solid colorPrimary

      &:focus
        outline-color: colorTurquoiseLight

    & label:first-child
      display: block
      line-height: lineHeight0
      font-family: fontFamilyRoboto
      font-size: fontSize0
      color: colorBlackDark

    & label:last-child
      display: block
      line-height: lineHeight0
      font-family: fontFamilyRoboto
      font-size: fontSize0
      color: colorAccent


    &.student-fname input
    &.student-lname input
      width: propUnit6x

    &.student-age input
      width: propUnit1x
    &.student-grade input
      width: propUnit1x
    &.student-school input
      width: 270px

    &.student-phone input
      width: propUnit4x
    &.student-email input
      width: propUnit8x

    &.guard-fname input
    &.guard-lname input
      width: propUnit6x
    &.guard-phone input
      width: propUnit4x
    &.guard-email input
      width: propUnit8x

#view-contact-container
  & .section.interested h2
    margin-bottom: spacing2x

  & .section.additional
    margin-bottom: spacing2x

    & h2
      margin-bottom: spacing2x

    & textarea
      width: propUnit16x
      height: propUnit4x
      padding: spacing2x
      box-sizing: border-box
      font-family: fontFamilyRoboto
      font-size: fontSize0
      line-height: lineHeight0
      resize: none
      outline: colorPrimary

      &:focus
        outline-color: colorTurquoiseLight

  & .section.submit
    position: relative
    width: propUnit16x

    & p
      margin: 0
      line-height: lineHeight0
      font-size: fontSize0
      color: colorBlackDark

    & .list-fields-remaining
      margin-top: spacing2x
      font-size: fontSize0
      display: none

      &.show
        display: block

      & ul
        margin: 0

    & button
      position: absolute
      right: 0
      top: 0
      background-color: colorGrayLight
      color: colorBlackDark
      cursor: initial

      &:hover
        filter: none

      &.active
        background-color: colorAccent
        color: colorWhite
        cursor: pointer

        &:hover
          filter: brightness(110%)
