@import "static"

#view-header
  position: relative
  background-color: colorPrimary
  box-shadow: 0px 2px 4px 2px colorBlack
  z-index: 1

#view-header-container
  position: relative
  width: containerWidthPct
  max-width: containerWidthPx
  height: 88px
  margin: 0 auto

#header-logo
  position: absolute
  top: 50%
  transform: translateY(-50%)
  & img
    width: 36px
    height: 36px
    margin-right: padding2x

  & h1
    display: inline-block
    position: relative
    top: -11px
    margin: 0
    color: colorWhite
    text-decoration: none

.header-menu-container
  position: absolute
  top: 50%
  right: 0
  translateY(-50%)

.header-menu-btn
  position: absolute
  top: 50%
  right: 0
  transform: translateY(-50%)
  width: 140px
  height: 40px
  border: 0px solid colorWhite
  outline: none
  box-sizing: border-box
  background-color: transparent
  color: colorWhite
  font-family: fontFamilyRoboto
  font-size: fontSizeNormal
  letter-spacing: letterSpacing
  cursor: pointer

  &.show
  &:hover
    border: 1px solid colorWhite

  & .icon-arrow
    display: inline-block
    width: 18px
    height: 10px
    margin-left: padding1x
    background-image: url('../assets/arrow_down_white.svg')
    background-size: cover

    &.show
      background-image: url('../assets/arrow_up_white.svg')
      background-size: cover

.header-menu-list
  position: absolute
  top: 16px
  right: 0
  box-shadow: 0px 2px 4px #000000
  z-index: 10
  opacity: 0
  visibility: hidden
  transition: all linear 0.2s

  &.show
    transform: translate(0, 16px)
    visibility: visible
    opacity: 1

  & ul
    margin: 0px
    padding: 0px
    background-color: colorPrimary

  & a
    color: colorWhite
    text-decoration: none

    &:hover div
      color: colorAccent1

  & li
    padding: padding2x padding3x
    list-style: none
    font-size: fontSizeNormal
    cursor: pointer
