@import "static"

.program-class-modal
  width: propUnit12x
  padding: spacing1x spacing6x spacing2x
  background-color: white
  box-shadow: 0px 2px 8px colorBlackDark

  & h1
    margin-bottom: spacing4x
    line-height: propUnit2x
    font-family: fontFamilyArial
    font-size: fontSize1
    font-weight: 400
    color: colorBlackDark
    border-bottom: 1px solid colorBlackDark

  & ul

    margin-bottom: spacing4x

    /* If need to use scrollbar */
    &.use-scrollbar
      max-height: propUnit2x
      padding-right: spacing2x
      overflow-y: scroll

  & li
    margin-bottom: spacing2x
    list-style: none
    font-family: fontFamilyRoboto
    font-size: fontSize0
    line-height: lineHeight0

    & .class-name
      display: inline-block
      width: propUnit3x
      margin-right: spacing2x
      color: colorPrimary

    & .class-times
      display: inline-block
      vertical-align: top

    & a
      float: right
