// Colors

colorPrimary = colorTurquoise
colorAccent1 = colorOrange
colorAccent2 = colorTurquoiseDark

colorBackground = colorWhite

colorTurquoise = #056571
colorTurquoiseDark = #034D57
colorOrange = #FF6A5C

colorWhite = #ffffff
colorWhiteLight = #f2f2f2
colorBlackDark = #404040
colorBlack = #000000
colorGrayLight = #b8b8b8

// Proportions

innerWidth1x = 120px
innerWidth2x = (innerWidth1x * 2)
innerWidth3x = (innerWidth1x * 3)
innerWidth4x = (innerWidth1x * 4)
innerWidth5x = (innerWidth1x * 5)
innerWidth6x = (innerWidth1x * 6)
innerWidth8x = (innerWidth1x * 8)
innerWidth10x = (innerWidth1x * 10)

containerWidthPx = innerWidth10x
containerWidthPct = 80%

// Paddings

padding1x = 8px
padding2x = (padding1x * 2)
padding3x = (padding1x * 3)
padding4x = (padding1x * 4)
padding6x = (padding1x * 6)
padding8x = (padding1x * 8)
padding12x = (padding1x * 12)
padding16x = (padding1x * 16)
padding32x = (padding1x * 32)

// Fonts - Font Families
@font-face
  font-family: 'rockwell'
  src: url('../assets/fonts/rockwell/rockwell_regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
fontFamilyRockwell = "rockwell", sans-serif

fontFamilyRoboto = "Roboto", Arial, sans-serif
fontFamilyArial = Arial, sans-serif
fontFamilySourceSans = "Source Sans Pro", sans-serif
fontFamilyUbuntu = "Ubuntu", sans-serif

// Fonts - For reading texts
fontSizeSmall = 14px
fontSizeNormal = 16px
fontSizeLarge = 20px
fontSizeLarger = 24px

letterSpacing = 3px

lineHeightSmall = 22px
lineHeightNormal = 26px
lineHeightLarge = 30px
lineHeightLarger = 36px

// Misc.
