@import "../static.styl"

#view-announce-container
  width: propUnit16x
  margin: 0 auto

  & h1
    margin: spacing12x
    font-family: fontFamilyRockwell
    line-height: lineHeight2
    font-size: fontSize2
    color: colorPrimary
    text-align: center

  & .announce-card
    position: relative
    margin: spacing8x 0
    padding: spacing2x 0

    & h3
      line-height: lineHeight1
      font-size: fontSize1
      color: colorPrimary

    & .card-message
    & .card-author
      line-height: lineHeight0
      font-size: fontSize0

    & .card-links a
      display: block
      margin: spacing2x 0

    & .card-alert
      display: none
      position: absolute
      top: spacing1x
      right: 0
      padding: spacing1x spacing2x
      background-color: colorAlert
      font-size: fontSize0
      line-height: lineHeight0

      &.show
        display: inline-block
