@import "../static.styl"

#view-announce-container
  width: containerWidthPct
  max-width: containerWidthPx2
  margin: 0 auto spacing16x

  & h1
    margin: spacing12x 0 spacing8x
    font-family: fontFamilyRockwell
    line-height: lineHeight2
    font-size: fontSize2
    color: colorPrimary
    text-align: center

  & .announce-card
    position: relative
    margin: spacing8x 0

    & h3
      line-height: propUnit2x
      font-size: fontSize1
      color: colorPrimary
      border-bottom: 1px solid colorGrayLight

    & p
      margin: spacing3x 0 spacing2x

    & .card-message
    & .card-author
      line-height: lineHeight0
      font-size: fontSize0

    & .card-links a
      display: block
      margin: spacing2x 0 spacing6x

    & .announce-item
      position: relative

    & .img-alert
      position: absolute
      top: 0
      right: 100%
      transform: translate(-50%, 0)
      width: 28px

      @media screen and (max-width: mediaWidth1)
        width: 20px
