@import "../utils/_constants.sass"

#view-class
    width: $containerWidthPct
    max-width: $containerWidthPxFull
    margin: 0 auto
    padding: $spacing8x 0

    #breadcrumbs
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: start

        a
            color: $colorTurquoiseDark

        span
            margin-left: $spacing1x

        h1
            margin: $spacing1x 0 $spacing6x
            line-height: $lineHeight4
            font-family: $fontFamilyRockwell
            font-size: $fontSize4
            color: $colorBlack

            @media screen and (max-width: $containerWidthPxTablet)
                margin-bottom: $spacing2x
                line-height: $lineHeight2
                font-size: $fontSize2
        
        .featured
            width: $spacing28x
            padding: $spacing2x
            border: 1px solid $colorTurquoise
            border-radius: 8px

            @media screen and (max-width: $containerWidthPxTablet)
                width: unset
                padding: $spacing1x
            
            .header
                display: flex
                align-items: center
                color: $colorTurquoise  

            p
                margin: $spacing1x 0 0
                font-size: 12px
                line-height: 18px
                color: $colorGrayMed

                @media screen and (max-width: $containerWidthPxTablet)
                    display: none

    #program-info
        h4.full
            line-height: $lineHeight1
            font-family: $fontFamilyRoboto
            font-size: $fontSize1
            color: $colorRed
        
        p
            margin: $spacing2x 0

    #other-classes
        p
            margin: $spacing1x 0
        a
            display: inline-block
            width: $spacing32x
            line-height: $lineHeight1

    #register
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        border-bottom: 1px solid $colorGrayLight

        @media screen and (max-width: $containerWidthPxTablet)
            flex-direction: column
            justify-content: start

        p
            margin-right: $spacing12x

            @media screen and (max-width: $containerWidthPxTablet)
                margin: $spacing1x 0
                margin-right: 0

        .full
            color: $colorRed
            pointer-events: none

            button
                background-color: $colorGrayMed
                color: $colorBlack
                border: 1px solid $colorGrayMed

        button
            background-color: $colorTurquoise
            color: $colorWhite
            border: 1px solid $colorTurquoise
            border-radius: 8px

            @media screen and (max-width: $containerWidthPxTablet)
                width: 100%
                border: 1px solid $colorTurquoise
                background-color: transparent
                color: $colorTurquoise

                &:hover
                    background-color: $colorTurquoise
                    color: $colorWhite

        a
            @media screen and (max-width: $containerWidthPxTablet)
                width: 100%
                margin: $spacing4x 0
                

    #class-info
        display: flex
        flex-direction: row
        margin: $spacing4x 0

        @media screen and (max-width: $containerWidthPxTablet)
            flex-direction: column
            justify-content: start

        .block
            flex-grow: 1

            &:last-child
                padding-left: $spacing8x
                border-left: 1px solid $colorGrayLight

                @media screen and (max-width: $containerWidthPxTablet)
                    padding-left: 0
                    border-left: none

        h3
            margin: $spacing3x 0 0
            line-height: $lineHeight0
            font-size: $fontSize0
            font-weight: 400
            color: $colorGrayMed

            @media screen and (max-width: $containerWidthPxTablet)
                margin-top: $spacing4x

            &.location, &.times
                margin-top: 0
                margin-bottom: 4px

                @media screen and (max-width: $containerWidthPxTablet)
                    margin-top: $spacing4x
        
        #class-location .title,
        #class-times .class-times
            font-weight: 500

        p, .line
            margin: 0
            line-height: $lineHeight0
            font-size: $fontSize0

        .disclaimer
            line-height: 20px
            font-size: 14px
            color: $colorGrayMed


    #class-footer
        margin-top: $spacing16x

        u
            color: $colorTurquoiseLight