@import "../_.constants.sass"

#view-semester
    width: 100%
    padding: 0 $spacing2x
    box-sizing: border-box

    .cards-wrapper
        padding: $spacing4x 0
        border-top: 2px solid $colorGrayDark